<div class="summary">
   <div class="summaryHeader">
    <div (click)="check()">
        <p>Requester Info</p>
        <img src="../../../assets/edit.svg" alt="Edit SVG">
    </div>
    <hr>
   </div>
    <div class="summaryContant">
       <div>
        <label>Requester First Name : <label> Requester First Name</label> </label>
        <label>Requester Last Name : <label> Requester Last Name </label> </label>
        <label>Requester Email : <label> Requester Email </label> </label>
        <label>Requester Website URL :  <label> Requester Website URL </label> </label>
        <label>Requester Job Title :  <label> Requester Job Title </label> </label>
       </div>
    </div>
    <div class="submitButton">
        <button>Submit</button>
    </div>
</div>