
.form-container{
    display: grid;
    margin: 25px 0 0;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    .inner-container{
        max-width: 600px;
        .input-field{
            display: grid;
            grid-template-columns: 1fr 300px;
            padding: 5px 15px;
            margin-bottom: 20px;
            
            label{
                display: flex;
                align-items: center;
                margin-right: 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                justify-content: flex-end;
                // color: rgb(3, 24, 82);
                span{
                    color:red;
                    padding-left: 5px;
                }
            }
            input{
                height: 40px;
                margin-left: 10px;
                border: 1px solid #DDE2E4;
                padding: 1px 5px;
            }
            
            .valid-error {
                outline-color: red;
                border: 2px solid red !important;
             }
            
        }
        .warning-letter{
            display: flex;
            justify-content: end;
            color:red;
            grid-column: 1/-1;
        }
        .radio-group{
            padding: 20px 15px;
            p{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                span{
                    color: red;
                    padding-left: 5px;
                }
            }
            div{
                padding: 5px;
            }
        }
    }
}

.report-line-container {

    label {
        align-items: center;
        margin-right: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        justify-content: flex-end;
        position: relative;
        left: 667px;
        span{
            color:red;
            padding-left: 5px;
        }
    }
    .reporting-check-box-container{
        position: relative;
        left: 667px;
    }
}

.nextButton{
    width: 90%;
    display: flex;
    justify-content: end;
    button{
        height: 35px;
        width: 150px;
        background-color: rgb(2, 21, 82);
        border-radius: 5px;
        font-weight: 700;
        color: white;

        &:disabled {
            background-color: grey;
        }
    }
}

@media (min-width: 1200px){
    .radio-group.radio{
        margin-left: 70px;
    }
} 

.noteBox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
