#actionIcons{
    height: 30px;
    width: 30px;
    background-color: white;
}
#editBtn{
    background-color: white;
    border: none;
}

.applicantDetails{
    width: 90vw;
}

.applicantTableDetails{
    border: 1px solid black;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    th{
        text-transform: capitalize;
        font-weight: bold;  
    }
}


  
  .mat-column-name {
    height: 100px;
  }