<div class="chip-container">
    <span class="title-text">{{ label }}</span>
    <div class="chip-content">
        <div class="input-container">
            <form [formGroup]="formGroup">
                <mat-form-field class="chip-form-field">
                    <input
                        [value]="inputValue"
                        (keyup)="setInputValue($event)" [placeholder]="placeholder"
                        [matChipInputFor]="chipGrid"                   
                    />
                    <hr>
                    <mat-chip-grid #chipGrid aria-label="Enter reactive form keywords"  >
                        <mat-chip-row *ngFor="let keyword of (chipArray?.value || [])" (removed)="removeKeyword(keyword)" [disableRipple]="true"
                            [style]="'--chip-color: ' + keyword?.color" >
                            {{keyword?.value}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                </mat-form-field>
            </form>
        </div>
        <button (click)="addChip()" id="addChipBtn"><img src="../../../assets/add-icon.svg" alt="Addchip-button"></button>
        <button class="save-btn" [disabled]="!this.formGroup.get('chipArray')?.value?.length" (click)="saveChips()">Save</button>
    </div>
    <mat-chip-set class="saved-values">
        <mat-chip *ngFor="let keyword of chipValues" [style]="'--chip-color: ' + keyword.color">{{keyword.value}}</mat-chip>
    </mat-chip-set>
</div>