:host {
    max-width: 60%;
    width: 100%;
}

.natvigator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-contant {
    height: 69vh;
    width: 98vw;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    // padding: 100px 0 0 0;
}

.nav-contant::-webkit-scrollbar {
    width: 5px; 
}

.nav-contant::-webkit-scrollbar-track {
    background: #9e9d9de1; 
    border-radius: 15px;

}

.nav-contant::-webkit-scrollbar-thumb {
    background: #022c69ea;
    border-radius: 15px;

}

.nav-contant::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.header {
    padding-bottom: 35px;
    .headerLogo {
        display: flex;
        justify-content: space-between;
        padding: 0 ;
        color: #003366;

        div {
            display: flex;
            &.headerLeft{
                margin-left: 25px;
                align-items: center;
                gap: 20px;
                h2{
                    margin: 0;
                    font-weight: 500;
                    font-size: 25px;
                }
            }
            &.headerRight{
                img{
                    width: 65%;
                }
            }
        }

    }}


    
.TableButton{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    button{
        height: 35px;
        width: 150px;
        font-weight: 600;
        border: none;
        margin-left: 2px;
    }
}