.BGV{
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgvHeader{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    p{
        background-color: rgba(74, 216, 74, 0.453);
        padding: 6px 10px;
        margin: 0%;
        border: 1px solid black ;
        border-radius: 5px;
        font-weight: 500;
    }
}

.bgvFormContant{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .bgvLeftForm, .bgvRightForm{
        width: 50%;
        margin: 10px;
        padding: 2px;
        .question{
            display: flex;
            flex-direction: column;
            margin: 15px;
            p, label{
                font-size: 14px;
                font-weight: 500;
                color: rgb(1, 18, 56);
                // text-transform: capitalize;
            }
        }
   }
}

.creditcheck{
    background-color: rgba(28, 80, 192, 0.39);
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
}

.action-container{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}